:root{
    --primary-colo:#5bb4ca;
    --secondary:#dbfffe;
    --black:black;
    --white:#fff;
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

@font-face {
    font-family: 'Quicksand';
    src: url('../FONTS/Quicksand-Regular.ttf');
  }
  


.teacher{
    font-size: 62%;
    /* overflow-x: hidden; */
    /* scroll-padding-top: 9rem; */
    /* scroll-behavior: smooth; */
}
/* html::-webkit-scrollbar{
    width: 1rem;
} */
/* html::-webkit-scrollbar-track{
    background: black;
} */


/* section{
    padding: 5rem 7%;
} 

.button{
    width: 120px;
    height: 50px;
    background-color: var(--primary-colo);
    color: #fff;
    border-radius: 10px;
}
.about .container{
    display: flex;
    flex-wrap: wrap;
}
.about .container .about-image{
    position: relative;
    flex: 1 1 40rem;

}
.about .container .about-image .img1{
    width: 80%;
}
.about .container .about-image .about-img{
    position: absolute;
    bottom: -10rem;
    right: -1rem;
    width: 25rem;
    padding-block: 3rem;

}
.about .container .about-content{
    flex:1 1 50rem;
    padding-left: 6rem;
    padding-top: 8rem;
}
.about .container .about-content h3{
    font-size:  3rem;
    color: var(--primary-colo);
}

.about .container .about-content p{
    font-size:1.6rem ;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

.subjects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 2rem;
}
.subjects .box-container .box{
padding: 3rem 2rem;
text-align: center;
border: .1rem solid var(--primary-colo);
background: var(--secondary);
cursor: pointer;
}
.subjects .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}
.subjects .box-container .box:hover{
    background-color:var(--primary-colo) ;
}
.subjects .box-container .box:hover h3{
    color: #fff;
}
.subjects .box-container .box h3{
    font-size: 1.7rem;
    color: #444;
    padding: .5rem 0;
    text-transform: capitalize;
}
.subjects .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;

}
.subjects .box-container .box:hover p{
    columns: #eee;
}

.courses .parti{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}
.courses .parti .box .image{
    height: 25rem;
    align-items: center;
    overflow: hidden
}
.courses .parti .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses .parti .box:hover .image img{
transform: scale(1.1);
}
.courses .parti .box .image h3{
    font-size: 20px;
    color: #c34343;
    position: absolute;
    top: 1rem; left: 1.5rem;
    padding: .5rem 1.5rem;
    background: var(--white);
}
.courses .parti .box .content{
    padding: 2rem;
    position: relative;
    border: 0.1rem solid var(--primary-colo);
}
.courses .parti .box .content h4{
    position: absolute;
    background: var(--primary-colo);
    color: var(--secondary);
    top: -3rem;right: 1.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 50%;
}
.courses .parti .box .content p{
    font-size: 1.4rem;
    color: #444;
    line-height: 2;
}
.courses .parti .box .content h3{
font-size: 2rem;
color: #444;
}
.courses .parti .box .content .stars{
    padding: 1rem 0;
} */

.teacher .heading h1{
    align-items: center;
}

.teacher .aaaa{
    text-align: center;
    /* text-decoration: #25b0c2f7; */
    color: #25b0c2f7;
}
.teacher .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    display: flex;
    margin-left: 8%;
    /* margin-left: 30%; */
}
.teacher .box-container .box .image{
    height: 23rem;
    /* margin-left: 36%; */
    width: 20rem;
    align-items: center;
    overflow: hidden;
    font-size: large;
    
}
.teacher .box-container .box .image img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.teacher .box-container .box:hover .image img{
transform: scale(1.1);
}
.teacher .box-container .box .image h3{
    font-size: 20px;
    color: #c34343;
    position: absolute;
    top: 1rem; left: 1.5rem;
    padding: .5rem 1.5rem;
    background: var(--white);
}
.teacher .box-container .box .content{
    padding: 2rem;
    position: relative;
    border: 0.1rem solid var(--primary-colo);
}
.teacher .box-container .box .content h4{
    position: absolute;
    background: var(--primary-colo);
    color: var(--secondary);
    top: -3rem;right: 1.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 50%;
}
.teacher .box-container.box .content p{
    font-size: 1.4rem;
    color: #444;
    line-height: 2;
}
.teacher .box-container .box .content h3{
font-size: 2rem;
color: #444;
}
.teacher.box-container .box .content .stars{
    padding: 1rem 0;
}
.contact{
    font-family: 'Quicksand';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
 }
 .form{
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
 }
 .form h2{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
 }
 .form p{
    margin-left: 10px;
    width: 65%;
    height: 50px;
    font-size: 1rem;
 }
 .input{
    padding: 10px;
    width: 70%;
    margin: 15px;
    border: 1px solid black;
    align-self: unset;
    outline: none;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
    background-color: #E0DDCA;
    border: none;
 }
 textarea{
    border-radius: 15px;
    background-color: #E0DDCA;
    border: none;
    width: 80%;
 }
 #submit{
    padding: 10px 20px;
    width: 40%;
    margin-top: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(81, 81, 184);
    border: none;
    
 
 }
 .images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 50px;
    
    padding: 70px 0;
    border-radius: 15px;
 
 }
 .images img{
   
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }