

.cdd {
  color:#74bc44 ;
  color:#f33cfc ;
  color:#945bfc ;
  color:#a6d284 ;
  color: #d450ff;
  color: #f46cfc;
}

@font-face {
  font-family: 'Nunito';
  src: url('../FONTS/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Redressed';
  src: url('../FONTS/Redressed-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../FONTS/Quicksand-Regular.ttf');
}

#entete {
font-family: 'Nunito';
color: white ;
font-size:32px ;
}

.cc-navbar {
  background-color: rgba(0, 0, 0, 0.55);
  font-family: monospace, sans-serif;
  box-shadow: 1px 1px 3px rgba(255,255,255,0.54);
  z-index: 99;
}

.cc-navbar .nav-link {
  border-bottom: 1px solid transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover{
  padding-bottom: 20px; 
  border-bottom-color:#f33cfc  ;
   
}

#header {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}


.btn_1 {
  margin-left: 13em ;
  margin-top: 2em ;
  font-family: monospace, sans serif;
  
}

.btn_1:hover {
  transform: scale(1.05);
  transition: 500ms;
}

.banner {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../IMG/EXTERIEUR_01.JPG) center center  fixed 
   no-repeat;
   background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.chmb {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
  font-size: 45px;
  justify-content: center;  
  margin: 1em auto ;

}

.card_title1 {
  font-weight: bold;
  font-size: 30px;
  margin-left: 4em;
  font-family:'Quicksand', sans-serif;
}

.card_txt1 {
  margin-top: 2.5em;
  margin-left: 3em;
  font-size: 22px;
}

.btn_card1 {
 margin-left: 15em;
 margin-top: 2em;
color: black;
}

.card_txt2 {
  margin-top: 2.5em;
  margin-right: 3em;
  font-size: 23px;

}

.cuisine h1 {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
}
.container_cui {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin: 0 auto ;
  gap: 5em;
 
}

#spc {
  font-family: 'Nunito';
  font-size: 45px;
}
